name: Add Like
on:
  issues:
    types:
      - labeled
jobs:
  add-like:
    env:
      author: ${{github.event.issue.user.login}}
    if: github.event.label.name == 'like'
    runs-on: ubuntu-latest
    name: commit and push like
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
        fetch-depth: 0
    - name: Create local changes
      run: |
        if grep -Fxq "$author" likers.txt
        then
          echo "Try again!"
        else
          echo "$author" >> likers.txt
          #and update counter
          LIKES=$(wc -l < likers.txt)
          REPLACE=$(echo "<sub><b><i>Like counter: ${LIKES}</i></b></sub>")
          (head -9 README.md; echo "$REPLACE"; tail -n +11 README.md) > foobar && mv foobar README.md
        fi
    - name: Pull changes from remote
      run: git pull origin main
    - name: Commit & Push changes
      run: |
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        git commit -am "Add $author like"
        git pull origin main --rebase
        git push
  add-mutable-like:
    env:
      author: ${{github.event.issue.user.login}}
    if: github.event.label.name == 'like-mutable'
    runs-on: ubuntu-latest
    name: commit and push mutable like
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
        fetch-depth: 0
    - name: Create local changes
      run: |
        if grep -Fxq "$author" likers-mutable.txt
        then
          echo "Try again!"
        else
          echo "$author" >> likers-mutable.txt
          #and update counter
          LIKES=$(wc -l < likers-mutable.txt)
          REPLACE=$(echo "<sub><b><i>Like counter: ${LIKES}</i></b></sub>")
          (head -18 README.md; echo "$REPLACE"; tail -n +20 README.md) > foobar && mv foobar README.md
        fi
    - name: Pull changes from remote
      run: git pull origin main
    - name: Commit & Push changes
      run: |
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        git commit -am "Add mutable $author like"
        git pull origin main --rebase
        git push
  unlike:
    env:
      author: ${{github.event.issue.user.login}}
    if: github.event.label.name == 'unlike-mutable'
    runs-on: ubuntu-latest
    name: commit and push mutable unlike
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
        fetch-depth: 0
    - name: Create local changes
      run: |
        LINE=$(grep -Fx "$author" likers-mutable.txt -n| cut -d ":" -f 1)
        if [ -z "$LINE" ]
        then
          echo "Try again! You haven't already liked"
        else
          #withdraw like
          sed -i "${LINE}d" likers-mutable.txt
          #and update counter
          LIKES=$(wc -l < likers-mutable.txt)
          REPLACE=$(echo "<sub><b><i>Like counter: ${LIKES}</i></b></sub>")
          (head -18 README.md; echo "$REPLACE"; tail -n +20 README.md) > foobar && mv foobar README.md
        fi
    - name: Pull changes from remote
      run: git pull origin main
    - name: Commit & Push changes unlike
      run: |
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        git commit -am "Remove $author like"
        git pull origin main --rebase
        git push
